:root {
  --vermelho: #E50914;
  --preto: #141414
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--preto);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.container-stranger {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)100%), url('../img/stranger_things_cover.jpg');
}

.container-suicide {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)100%), url('../img/the_suicide_squad_cover.jpg');
}

.container-naruto {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)100%), url('../img/naruto_shippuden_cover.jpg');
}

.container-resident {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)100%), url('../img/resident_evil_village_cover.jpg');
}

.container-stranger, .container-naruto, .container-suicide, .container-resident {
  width: 100vw;
  background-size: cover;
  flex: none;
}

.container, .container-header {
  margin-left: 20px;
}

.container {
  padding-top: 15%;
  height: 550px;
}
